.books-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.books-header a {
    background: var(--bg-gradient);
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
}

.books-header a:hover {
    color: #dcdcdc;
}

.search-bar label {
    font-size: 20px;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 15px;
}

.books-table .book-row-img {
    padding: 0;
    text-align: left;
}

.book-row-img img {
    width: 100px;
}

.update-btn {
    background: #cdffd5;
}

.delete-btn {
    background: #ffcdcd;
}

.update-btn,
.delete-btn {
    border: none;
    width: 90px;
    padding: 10px 0;
    cursor: pointer;
}

.update-btn:hover,
.delete-btn:hover {
    color: var(--text-color);
}