:root {
    --bg-gradient: linear-gradient(62deg, rgba(192,0,255,1) 0%, rgba(0,212,255,1) 100%);
    --text-color: #707070;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Segoe UI", serif;
    color: var(--text-color);
    height: 100%;
}

a {
    text-decoration: none;
}

h3 {
    margin: 20px 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

.table tr:first-child {
    background: var(--bg-gradient);
    color: #fff;
}

.table tr:nth-child(even) {
    background: #f2f2f2;
}

/* div with search bar and add an item button */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    background: var(--bg-gradient);
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
}

.header a:hover {
    color: #dcdcdc;
}

/* modal pop-up */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 20px;
    animation: .5s popup;
    transition: opacity .5s linear;
}

@keyframes popup {
    0% {
        transform: translateY(-50%);
        opacity: .5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    padding: 20px 40px;
    border: 1px solid var(--text-color);
    width: 80%;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.modal .close {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 2px;
    border-radius: 0 10px 0 10px;
}

.modal .close:hover {
    background: #ffbdbd;
}

.delete-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.delete-modal.hide {
    display: none;
}

.delete-modal-content {
    background-color: #fefefe;
    padding: 20px 40px;
    border: 1px solid var(--text-color);
    width: 80%;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.modal-options span {
    cursor: pointer;
}